@charset "utf-8";
@import "normalize";

$color-red: #FF475E;
$color-green: #7ED321;
$color-blue: #4A90E2;

* {
  font-family: 'Avenir', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.header {
  background: $color-red;
  color: white;
  text-align: center;
  padding: 60px 0;

  h2 {
    font-weight: 400;
  }

  .button {
    margin: 30px;
  }
}
.header__logo {
  width: 50px;
}
.header__gif {
  border-radius: 5px;
  width: 500px;
}
.header__social {
  margin-top: 10px;
}
.header__supports {
  margin-top: 20px;
}

.command {
  padding: 30px 0;
}
.command__header {
  padding: 10px 20px;
  color: white;
  text-align: center;
  h3 {
    font-size: 40px;
    margin-bottom: 5px;
  }
}
.command__gif {
  clear: both;
  display: block;
  width: 500px;
  border-radius: 3px;
  margin: 20px auto;
}
.command--green {
  background: $color-green;
}
.command--blue {
  background: $color-blue;
}
.footer {
  background: $color-red;
  color: white;
  text-align: center;
  padding: 40px;
  h1 {
    margin-bottom: 20px;
  }
}

.button {
  display: inline-block;
  background: $color-green;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

  &:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  }
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  }
}
