<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dkblejpmbmienbjpinbgebodokhpbkme">
    <meta name="google-site-verification" content="_2ueoMV8SCOWpEtMqshzYZiaoz9_kwqz-9fbwVwNym8" />
    <link rel="shortcut icon" href="images/command.ico" />

    <meta property="og:title" content="Command" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://slashcommand.club" />
    <meta property="og:description" content="Making the web better with Slack-like slash commands. Add to Google Chrome and easily send GIFs, selfies, and more on any website." />
    <meta property="og:image" content="http://slashcommand.club/images/command-wide.png" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="stylesheets/site.css" rel="stylesheet" type="text/css" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75050322-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body class="<%= page_classes %>">
    <script src="javascripts/all.js" type="text/javascript" charset="utf-8"></script>
    <%= yield %>
    <script src="javascripts/index.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
