<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dkblejpmbmienbjpinbgebodokhpbkme">
    <meta name="google-site-verification" content="_2ueoMV8SCOWpEtMqshzYZiaoz9_kwqz-9fbwVwNym8" />
    <link rel="shortcut icon" href="images/command.ico" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href="stylesheets/site.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
