@import "../../styles/settings";

.container {
  background: black;
  height: 300px;
  :global {
    .react-spinner {
      z-index: 2;
    }
    .react-spinner_bar {
      background: white;
    }
  }
}
.video {
  height: 300px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
  color: white;
  font-size: 30px;
  line-height: 20px;
}
.preview {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.button {
  $size: 40px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -$size / 2;
  width: $size;
  height: $size;
  border-radius: $size / 2;
  box-shadow: 0 0 0 2px black, 0 0 0 4px rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 1);
  z-index: 2;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 2px black, 0 0 0 4px rgba(255, 255, 255, 1);
  }
  &:active {
    box-shadow: 0 0 0 2px black, 0 0 0 4px $color-red;
  }
}

