@import "../styles/settings";

.widget {
  height: 70px;
  transition: height 300ms;
  &.isExpanded {
    height: 300px;
  }
  &.hasResults .results {
    opacity: 1;
  }
}

input[type="search"].input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  box-sizing: border-box;

  box-shadow: none;
  border: 1px solid #ccc;
  transition: border-color 300ms;

  &:focus {
    border: 1px solid #ddd;
    outline: none;
  }
}

.resultsContainer {
  overflow: hidden;
  width: 100%;
}

.results {
  padding: 5px 0;
  height: 210px;
  opacity: 0;
  transition: opacity 200ms, left 300ms;

  position: relative;
  left: 0;

  -webkit-column-count: 4;
  -webkit-column-gap: 3px;
}

.result {
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;

  img {
    width: 100%;
    display: block;
  }

  &:hover {
    border-color: $color-red;
  }
}

.noResults {
  width: 100%;
  text-align: center;
  color: #ccc;
  margin-top: 90px;
  font-size: 16px;
}

.pagination {
  text-align: center;
}
.pagination a {
  cursor: pointer;
  color: #ccc;
  margin: 10px;
  font-size: 30px;
  -webkit-user-select: none;
  text-decoration: none;

  &:hover {
    color: #aaa;
  }

  &.disabled {
    color: #eee;
    cursor: inherit;
  }
}
