$color-red: #FF475E;

.container {
  position: absolute;
  width: 400px;
  box-sizing: border-box;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  margin-top: -15px;
  box-shadow: 0 0 0 1px rgba(14,41,57,0.05),0 1px 2px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.05);

  height: 90px;
  overflow: hidden;
  transition: height 200ms;

  & * {
    font-family: 'Avenir', sans-serif;
    box-sizing: border-box;
  }

  :global {
    .react-spinner {
      width: 40px;
      margin-top: 10px;
      position: absolute;
    }

    .react-spinner_bar {
      background-color: #777;
    }
  }
}

.container--hasQuery {
  height: 300px;
  .results {
    opacity: 1;
  }
}

input[type="text"].input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;

  box-shadow: none;
  border: 1px solid #ccc;
  transition: border-color 300ms;

  &:focus {
    border: 1px solid #ddd;
    outline: none;
  }
}

.noResults {
  width: 100%;
  text-align: center;
  color: #ccc;
  margin-top: 90px;
  font-size: 16px;
}


.results {
  padding: 5px 0;
  width: 100%;
  height: 210px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 200ms;
  -webkit-column-count: 4;
  -webkit-column-gap: 3px;
}

.result {
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;

  img {
    width: 100%;
    display: block;
  }

  &:hover {
    border-color: $color-red;
  }
}

.icon {
  width: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  img {
    width: 100%;
    display: block;
  }
}
