---
title: Command
---
<div id="home"
  <div class="header">
    <div class="header__text">
      <img src="images/command-white.png" class="header__logo" />
      <h1>Command</h1>
      <h2>Making the web better with Slack-like slash commands.</h2>
      <button onclick="chrome.webstore.install()" class="button">+ Add to Chrome</button>
    </div>
    <img src="images/giphy.gif" class="header__gif" />
    <p class="header__supports">Automatically works on Github, Inbox, Gmail, and every other text field out there.</p>
  </div>
  <div class="command command--green giphy">
    <div class="command__header">
      <h3>/giphy</h3>
      <p>Search and add a GIF on any site</p>
    </div>
    <img src="images/giphy-github.gif" class="command__gif" />
  </div>
  <div class="command command--blue giphy">
    <div class="command__header">
      <h3>/selfie</h3>
      <p>Take a selfie and share it</p>
    </div>
    <img src="images/selfie-inbox.gif" class="command__gif" />
  </div>
  <div class="footer">
    <h1>Want to give it a try?</h1>
    <button onclick="chrome.webstore.install()" class="button">+ Add to Chrome</button>
  </div>
</div>
