---
title: Command
---
<div id="home"
  <div class="header">
    <div class="header__text">
      <img src="images/command-white.png" class="header__logo" />
      <h1>Command</h1>
      <h2>Making the web better with Slack-like slash commands.</h2>
      <button onclick="chrome.webstore.install()" class="header__button">+ Add to Chrome</button>
    </div>
    <img src="images/command.gif" class="header__gif" />
  </div>
</div>
